html {
	font-family: 'Arimo', sans-serif;
}

body {
	background-color: #222;
	color: #EEE;
}

a .fa {
  position: relative;
  -webkit-transition: all 0.5s ease-out 0.2s;
}

a .fa:hover {
	-webkit-transform: rotate(-45deg);
}